{% extends "index.html" %}
{% block style %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/servers/nginx_configuration.css" %}" />
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script src="{% static "scripts/servers/nginx_configuration_script.js" %}"></script>
{% endblock %}
{% block content %}
    <section class="content_section">
        <article>
            <header>
                <h2>NGINX configuration:</h2>
            </header>
            <form id="nginx_config_form" action="saved/" method="post">
            {% csrf_token %}
            <fieldset id="fieldset_main">
                <legend>main</legend>
                    <p><b>user </b><input id="input_user" type="text">;</p>
                    <p><b>worker_processes </b><input id="input_worker_process" type="number" min="1" max="100">;</p>
                    <p><b>worker_rlimit_nofile </b><input id="input_worker_rlimit_nofile" type="text">;</p>
                    <p><b>pid </b><input id="input_pid" type="text">;</p>
                    <p><b>error_log </b><input id="input_error_log" type="text">;</p>

                <details id="details_events" class="details">
                    <summary>events</summary>
                        <p></p><b>connections</b><input id="input_connections" type="number" min="1" max="10000">;</p>
                        <p>
                            <b>use</b>
                            <input type="radio" name="use_item" value="kqueue">kqueue
                            <input type="radio" name="use_item" value="rtsig">rtsig
                            <input type="radio" name="use_item" value="epoll">epoll
                            <input type="radio" name="use_item" value="/dev/poll">/dev/poll
                            <input type="radio" name="use_item" value="select">select
                            <input type="radio" name="use_item" value="poll">poll;
                        </p>
                </details>
                <details id="details_http" class="details">
                    <summary>http</summary>
                    <p><b>include</b> /etc/nginx/mime.types; <input type="checkbox" name="input_include_types" value="include_types"> </p>
                    <p><b>include</b> /etc/nginx/conf.d/*.conf; <input type="checkbox" name="input_include_conf" value="include_types"> </p>
                    <p><b>default_type</b> <input id="input_default_type" type="text">;</p>
                    <p><b>log_format</b> <input id="input_log_format" type="text"></p> {# может быть несколько #}
                    <textarea id="textarea_log_format" cols="50" rows="4"></textarea>;
                    <p><b>sendfile </b><input type="checkbox" name="input_sendfile" value="on">;</p>
                    <p><b>tcp_nopush </b><input type="checkbox" name="input_tcp_nopush" value="on">;</p>
                    <p><b>tcp_nodelay </b><input type="checkbox" name="input_tcp_nodelay" value="on">;</p>
                    <p><b>server_tokens </b><input type="checkbox" name="input_server_tokens" value="on">;</p>
                    <p><b>gzip </b><input type="checkbox" name="input_gzip" value="on">;</p>
                    <p><b>gzip_static </b><input type="checkbox" name="input_gzip_static" value="on">;</p>
                    <p><b>gzip_vary </b><input type="checkbox" name="input_gzip_vary" value="on">;</p>
                    <p><b>gzip_comp_level </b><input name="input_gzip_comp_level" type="number" min="0" max="9">;</p>
                    <p><b>gzip_min_length </b><input name="input_gzip_min_length" type="number" min="0" max="100000">;</p>
                    <p><b>gzip_proxied</b><input id="input_gzip_proxied" type="text">;</p>
                    <p><b>gzip_types</b><input id="input_gzip_types" type="text">;</p>
                    <p><b>gzip_http_version</b><input id="input_gzip_http_version" type="text">;</p>
                    <p><b>gzip_disable</b><input id="input_gzip_disable" type="text">;</p>
                    <p><b>keepalive_timeout</b><input id="input_keepalive_timeout" type="text">;</p>
                    <p><b>limit_conn_zone</b><input id="input_limit_conn_zone" type="text">;</p>

                    <a href="#" onclick="createServer(this.parentNode);" class="button_add">add server</a>
                    <details id="details_server" name="details_server" class="details">
                        <summary>server</summary>
                        <a href="#" onclick="deleteServer(this.parentNode);" class="button_delete">delete</a>
                        <p><b>server_name</b> <input id="input_server_name" type="text">;</p>
                        <p><b>listen</b> <input id="input_listen" type="text">;</p>
                        <p><b>disable_symlinks</b> <input id="input_disable_symlinks" type="text">;</p>
                        <p><b>access_log</b> <input id="input_access_log" type="text">;</p>
                        <p><b>index</b> <input id="input_index_page" type="text">;</p>
                        <p><b>error_page</b> <input id="input_error_page" type="text">;</p>
                        <p><b>set</b> <input id="input_set_path" type="text">;</p>
                        <p><b>include</b> /usr/local/ispmgr/etc/nginx.inc;<input id="input_include_nginx_inc" type="checkbox" value="on"></p>
                        <a href="#" onclick="createLocation(this.parentNode,this);" class="button_add">add location here</a>
                        <details id="details_location" class="details">
                            <summary>location</summary>
                            <a href="#" onclick="deleteLocation(this.parentNode);" class="button_delete">delete</a>
                            <p><b>location</b> <input id="input_location" type="text"></p>
                            <p><b>root</b> <input id="input_root" type="text">;</p>
                            <p><b>access_log</b> <input id="input_location_access_log" type="checkbox" value="on">;</p>
                            <p><b>error_page</b> <input id="input_location_error_page" type="text">;</p>
                            <p><b>proxy_pass</b> <input id="input_proxy_pass" type="text">;</p>
                            <p><b>proxy_redirect</b> <input id="proxy_redirect" type="checkbox" value="on">;</p>
                            <p><b>proxy_set_header</b> <input id="input_proxy_set_header" type="text">;</p> {# несколько штук #}
                            <p><b>proxy_connect_timeout</b> <input id="input_proxy_connect_timeout" type="number" min="1">;</p>
                            <p><b>proxy_send_timeout</b> <input id="input_proxy_send_timeout" type="number" min="1">;</p>
                            <p><b>proxy_read_timeout</b> <input id="input_proxy_read_timeout" type="number" min="1">;</p>
                            <p><b>expires</b> <input id="input_expires" type="text">;</p>
                        </details>
                        <a href="#" onclick="createLocation(this.parentNode, this);" class="button_add">add location here</a>
                    </details>
                </details>
            </fieldset>

            <table class="center">
                <tr>
                    <td><a href="#" onclick="" class="button_save_cancel">cancel</a></td>
                    <td><a href="#" onclick="document.getElementById('nginx_config_form').submit(); return false;" class="button_save_cancel">save</a></td>
                </tr>
            </table>

            </form>
        </article>
    </section>
{% endblock %}