<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rigery Panel</title>

    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap-theme.min.css" %}">

    {% block static %}
    {% endblock %}

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rigery Panel</a>
        </div>
        {% block navbar %}
        {% endblock %}
      </div>
    </nav>


    {% block data %}

    {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% load staticfiles %}
    <script src="{% static "js/jquery/jquery-1.11.1.js" %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>

</body>
</html>