{% extends "main/base.html" %}
{% block static %}
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}
{% block data %}
<div class="container">
    <form class="form-signin" action="" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <p class="{{ access_denied_class }}"><b>{{ access_denied }}</b></p>
        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" name="username" class="form-control" placeholder="Login" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div>

{% endblock %}