<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>

<body>

<div class="wrapper">

	<header class="header">
		<strong>Header:</strong>
    </header><!-- .header-->

	<div class="middle">

		<div class="container">
			<main class="content">
				<strong>Content:</strong>
            </main><!-- .content -->
		</div><!-- .container-->

		<aside class="left-sidebar">
			<strong>Left Sidebar:</strong>
        </aside><!-- .left-sidebar -->

	</div><!-- .middle-->

</div><!-- .wrapper -->

<footer class="footer">
	<strong>Footer:</strong>
</footer><!-- .footer -->

</body>
</html>