.details summary { /* строки-заголовок для клика */
  position: relative;
  background: #4e6473;
  padding: 2px 10px;
  margin: 10px 0 10px 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}


.details summary::-webkit-details-marker { /* треугольник */
   position: absolute;
   right: 10px;
   top: 30%;
}
/*.details[open] summary { /* цвет строки-заголовка в открытом виде */
/*  background: #c0c0c0;
}*/

.details {
     margin: 0 10px 0 10px;
}

.button_add{
    color:#ffffff;
    margin: 10px 10px 10px 10px;
    padding: 2px 7px 2px 7px;
    line-height:30px;
    background:#4e6473;
    text-decoration:none;
    border-radius: 2px;
}

.button_delete{
    color:#ffffff;
    margin: 0px 0px 0px 0px;
    padding: 2px 7px 2px 7px;
    line-height:20px;
    background:#4e6473;
    text-decoration:none;
    border-radius: 2px;
    float:right;
}

.center {
    margin: auto;
}

.button_save_cancel{
    color:#ffffff;
    margin: 10px 10px 10px 10px;
    padding: 2px 30px 2px 30px;
    line-height:30px;
    background:#4e6473;
    text-decoration:none;
    border-radius: 2px;
    float: left;
    cursor: pointer;
}


.nginx_config_editor {
    width: 95%;
    height: 500px;
    overflow: auto;
}

.error_text {
    margin: auto;
    color: red;
}