{% extends "base.html" %}
{% block style %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
{% endblock %}
{% block header_buttons %}
    <a href="accounts/logout/" class="button_sign_out">Sign out</a>
{% endblock %}
{% block header_menu %}
{#    <nav class="horizontal_menu">#}
{#        <ul>#}
{#            <li><a href="/"><b>Item_1</b></a></li>#}
{#            <li><a href="/"><b>Item_2</b></a></li>#}
{#            <li><a href="/"><b>Item_3</b></a></li>#}
{#            <li><a href="/"><b>Item_4</b></a></li>#}
{#        </ul>#}
{#    </nav>#}
{% endblock %}
{% block main_menu %}
    <nav class="sidebar">
        <h4 class="menu">Servers</h4>
        <ul>
            <li><a href="/nginx/">nginx</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <section class="content_section">
        <article>
            <header>
                <h2>Welcome to rigery panel!</h2>
            </header>
        </article>
    </section>
{% endblock %}