{% extends "base.html" %}
{% block style %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
{% endblock %}
{% block header_buttons %}
    <a href="accounts/logout/" class="button_sign_out">Sign out</a>
{% endblock %}
{% block header_menu %}
{#    <nav class="horizontal_menu">#}
{#        <ul>#}
{#            <li><a href="/"><b>Item_1</b></a></li>#}
{#            <li><a href="/"><b>Item_2</b></a></li>#}
{#            <li><a href="/"><b>Item_3</b></a></li>#}
{#            <li><a href="/"><b>Item_4</b></a></li>#}
{#        </ul>#}
{#    </nav>#}
{% endblock %}
{% block main_menu %}
    <nav class="sidebar">
        <h4 class="menu">Servers</h4>
        <ul>
            <li><a href="/nginx/">nginx</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <section class="content_section">
        <article>
            <header>
                <h2>System information:</h2>
                <p>System hostname: {{ hostname }} ({{ lan_ip }})</p>
                <p>Operating system: {{ os_name }} {{ os_version }}</p>
                <p>System architecture: {{ architecture }}</p>
                <p>Kernel and CPU: {{ kernel_cpu }}</p>
                <p>Processor information:{{ processor_info }} ({{ core_info }})</p>
                <p>System uptime: {{ system_uptime }}</p>
                <p>Running processes: {{ processes }}</p>
                <p>CPU load averages: {{ cpu_load_avg_0 }} (1 min), {{ cpu_load_avg_1 }} (5 min), {{ cpu_load_avg_2 }} (15 min)</p>
                <p>CPU usage: User {{ user }}, System {{ system }}, Idle {{ idle }}</p>
                <p>Memory: {{ memory_total }} total, {{ memory_used }} used, {{ memory_free }} free</p>
            </header>
        </article>
    </section>
{% endblock %}